body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* header nav ber start */

.custom-bg {
    background: #dddddd;
}


/* header nav ber end */


/* slider part start */

.slider-bg {
    background-color: #dd71a9;
    padding: 30px;
}

.slider-bg h2 {
    font-weight: bold;
    font-size: 52px;
    color: #535252;
    padding-top: 40px;
}

.slider-bg p {
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0px;
}

.slider-bg h3 {
    font-size: 50px;
    color: #ea1a68;
    font-weight: bold;
}


/* Its for slider button */

.slider-bg a {
    font-size: 12px;
    background: #ea1a68;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    padding: 7px 15px;
    margin-bottom: 40px;
}

.slider-bg a:hover {
    background: transparent;
    border: 2px solid #ea1a68;
    color: #ea1a68;
    background: #ffffff;
    transition: 1s all ease;
}


/* Its for slider img */

.slider-bg img {
    width: 80%;
}


/* slider part start */